
body{ 
    font-family: 'Roboto';font-size: 22px;
    background-color: antiquewhite;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    overflow: hidden;
}

#logo {
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    display: inline-block;
}

/* Styles for the login form */
#login {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
}

#login label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

#login input[type="text"],
#login input[type="password"],
#login input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
}

/* Styles for the main sections */
section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    line-height: 1.6;
}

/* Styles for the footer section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
